html, body {
  margin: 0;
  padding: 0;
  color: #131313;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  background-image: linear-gradient(#FDE33A, #FD8A3A);
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style: none;
  margin-top: 0;
}

li {
  margin-left: 1rem;
}

nav {
  background-color: #FDE33A;
  width: 100%;
}

.Bildterapihuset {
  margin-right: 10rem;
}

.Boka {
  background-color: #e3ba34;
  width: fit-content;
}